// !!--------------------
.who-we-are {
   &__container {
      background: $bg-blue url(../img/who_we_are/Blob_2.svg) -4% 235% no-repeat;
      border-radius: 40px;
      border: 1px solid transparent;
      margin: -80px 0px 200px 0px;
      padding: 100px 87px 0px 87px;
      position: relative;

      &::before {
         content: "";
         display: inline-block;
         width: 201px;
         height: 317px;
         background: url(../img/who_we_are/Stylize_Circles.svg) center/cover no-repeat;
         position: absolute;
         top: -109px;
         right: -76px;
      }
   }

   &__header {
      margin: 0px 0px 36px 0px;
   }

   &__title {
      margin-bottom: 36px;
      max-width: 585px;
   }

   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      color: $color-light-grey;
      margin-bottom: 53px;
   }

   &__img {
      position: relative;
      z-index: 5;
      width: 100%;
      padding: 0px 0px 50% 0px;
      border-radius: 40px;
      overflow: hidden;
      box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
      margin-bottom: -120px;
   }
   &__img img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
   }
}
