.promise {
   padding: 230px 0px 100px 0px;

   &__header {
      margin-bottom: 67px;
   }

   &__items-body {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -12px 24px -12px;
      row-gap: 24px;
   }
}

.item-promise {
   display: flex;
   padding: 0px 12px 0px 12px;
   flex: 0 1 33.33%;

   &__img {
      margin-right: 25px;
   }

   &__description {
   }

   &__title {
      font-weight: 900;
      font-size: 19px;
      line-height: 1.8;
      color: $color-salmon;
      margin-bottom: 15px;
   }

   &__text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      color: $color-grey;
   }
}
