@charset "UTF-8";
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  /* по умолчанию */
}

body {
  line-height: 1;
  font-family: "Roboto";
  background-color: #f5f5f5;
  z-index: -1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* !!------------------------------ */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f2726f;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border-radius: 8px;
  line-height: 2;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: #da4845;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.section__logo {
  position: relative;
  padding-left: 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section__logo::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -4px;
  left: -3px;
}

.section__logo_white {
  color: #f5f5f5;
}

.section__logo_white::before {
  background: url(../img/icon/mark-white.svg) center/cover no-repeat;
}

.section__logo_blue {
  color: #5d62b5;
}

.section__logo_blue::before {
  background: url(../img/icon/mark-blue.svg) center/cover no-repeat;
}

.section__title {
  max-width: 583px;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
}

.section__title_white {
  color: #ffffff;
}

.section__title_black {
  color: #000000;
}

.header {
  background: url(../img/header/duotone.jpg) center/cover no-repeat;
}

.header__information {
  padding: 26px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 42px;
  margin-top: 2px;
}

.header__btn {
  padding: 8px 35px;
  margin-left: 38px;
}

.header__menu {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 48px 20px 45px;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-header {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.info-header__img {
  margin-right: 12px;
}

.info-header__content {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.15px;
}

.info-header__title {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.menu-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-header__list li:not(:last-child) {
  margin-right: 44px;
}

.menu-header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.15px;
  color: #000000;
}

.menu-header__link img {
  vertical-align: middle;
  padding-left: 5px;
}

.menu-header__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__search {
  cursor: pointer;
}

.menu-header__shopping {
  position: relative;
  margin-left: 26px;
  cursor: pointer;
}

.menu-header__shopping span {
  background-color: #f2726f;
  color: #ffffff;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 220%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}

.section-header__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  color: #ffffff;
  max-width: 585px;
  margin: 126px 0px 48px 0px;
}

.section-header__btn {
  padding: 12px 34px;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  margin-bottom: 312px;
}

.who-we-are__container {
  background: #5d62b5 url(../img/who_we_are/Blob_2.svg) -4% 235% no-repeat;
  margin-top: -80px;
  border-radius: 40px;
  padding: 100px 87px 300px 87px;
  position: relative;
}

.who-we-are__container::before {
  content: "";
  display: block;
  width: 201px;
  height: 317px;
  background: url(../img/who_we_are/Stylize_Circles.svg) center/cover no-repeat;
  position: absolute;
  top: -109px;
  right: -76px;
}

.who-we-are__header {
  margin: 0px 0px 36px 0px;
}

.who-we-are__title {
  margin-bottom: 36px;
  max-width: 585px;
}

.who-we-are__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #f5f5f5;
  margin-bottom: 56px;
}

.who-we-are__img {
  position: absolute;
  margin-bottom: -120px;
  width: calc(100% - 174px);
  height: 60%;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  z-index: 5;
}

.who-we-are__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.promise {
  padding: 230px 0px 126px 0px;
}

.promise__header {
  margin-bottom: 70px;
}

.promise__items-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-promise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(33.33% - 16px);
}

.item-promise__img {
  margin-right: 23px;
}

.item-promise__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.37;
  color: #f2726f;
  margin-bottom: 20px;
}

.item-promise__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.dog {
  position: relative;
  background: url(../img/dog/Blob-3.svg) no-repeat, url(../img/dog/Stylize-Circles.svg) no-repeat, #29c3be;
  background-position: top -130px left -160px, bottom 60px left -45px;
  overflow: hidden;
}

.dog__img-dog {
  position: absolute;
  left: -40px;
  bottom: 0;
  z-index: 4;
}

.dog__img-line {
  position: absolute;
  right: 50px;
  z-index: 2;
}

.dog__img-ball {
  position: absolute;
  right: -5px;
  top: 114px;
  z-index: 3;
}

.dog__body {
  min-height: 500px;
  position: relative;
  z-index: 5;
  margin-left: auto;
  max-width: 411px;
  padding-top: 112px;
}

.dog__header {
  margin: 0px 0px 45px 0px;
}

.dog__btn {
  padding: 12px 34px;
}

.services {
  padding: 110px 0px 120px 0px;
  position: relative;
  overflow: hidden;
}

.services__img {
  position: absolute;
  top: -580px;
  right: -50px;
}

.services__header {
  margin-bottom: 78px;
  z-index: 10;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.33% - 16px);
          flex: 0 1 calc(33.33% - 16px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 50px 44px 50px 43px;
  z-index: 10;
}

.services__btn-body {
  text-align: center;
}

.services__btn {
  padding: 12px 34px;
}

.item {
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 24px;
}

.item:hover {
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.item__img {
  margin-bottom: 33px;
}

.item__title {
  margin-bottom: 20px;
  color: #f2726f;
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  text-align: center;
}

.item__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.appointment {
  background: url(../img/appointment/Blob2.svg) no-repeat, url(../img/appointment/Stylize-Circles.svg) no-repeat, url(../img/appointment/appointment_bg.jpg) no-repeat;
  background-size: auto, auto, cover;
  background-position: top -7px left -41px, top 239px left 58px, center;
}

.appointment__container {
  padding: 130px 0px 210px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appointment__description {
  margin-top: -20px;
  margin-left: 30px;
  text-align: center;
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 900;
  max-width: 325px;
}

.appointment__description > *:not(:last-child) {
  margin-bottom: 44px;
}

.appointment__title {
  font-size: 30px;
  line-height: 1.2;
}

.appointment__number {
  font-size: 96px;
  line-height: 1;
}

.appointment__text {
  font-size: 19px;
  line-height: 1.37;
}

.form {
  max-width: 585px;
  background-color: #5d62b5;
  border-radius: 40px;
  padding: 76px 57px;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.form__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #ffffff;
  margin-bottom: 47px;
}

.form__input-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.form input,
.form select,
.form textarea {
  display: block;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 15px 24px;
}

.form input,
.form select {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 11.22px);
          flex: 0 1 calc(50% - 11.22px);
  margin-bottom: 22px;
}

.form textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  resize: none;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.form textarea::-webkit-input-placeholder {
  font-family: "Roboto";
}

.form textarea:-ms-input-placeholder {
  font-family: "Roboto";
}

.form textarea::-ms-input-placeholder {
  font-family: "Roboto";
}

.form textarea::placeholder {
  font-family: "Roboto";
}

.form__btn {
  display: block;
  margin-left: auto;
  padding: 12px 30px;
}

.gallery__container {
  background-color: #5d62b5;
  margin-top: -80px;
  border-radius: 40px;
  padding: 100px 87px 360px 87px;
  position: relative;
}

.gallery__header {
  margin-bottom: 42px;
}

.gallery__tabs-body {
  position: relative;
}

.gallery__tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0px;
  position: relative;
  margin-bottom: 50px;
}

.gallery__tabs-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}

.gallery__tabs-list li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #ffffff;
  position: relative;
  padding: 0 30px;
}

.gallery__tabs-list li.active {
  font-weight: 700;
}

.gallery__tabs-list li.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -16px;
  left: 0;
  background-color: #ffffff;
}

.gallery__img {
  position: absolute;
  margin-bottom: -120px;
  width: calc(100% - 174px);
  height: 69%;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  z-index: 5;
}

.gallery__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.customers__container {
  padding: 240px 0px 205px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers__container > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.33% - 16px);
          flex: 0 1 calc(33.33% - 16px);
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 45px 43px 45px 44px;
}

.feedback__text {
  margin-bottom: 40px;
  color: #4b4b4b;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.feedback__text::before {
  content: "“";
}

.feedback__text::after {
  content: "”";
}

.feedback__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__img {
  margin: 0px 20px 0px 0px;
}

.feedback__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5x;
  letter-spacing: 0.15px;
  color: #f2726f;
}

.impact {
  background: #29c3be url(../img/impact/Blob2.svg) top 0 right 70px no-repeat;
}

.impact__container {
  padding: 112px 0px 212px 0px;
  position: relative;
}

.impact__body {
  margin: 0px 0px 76px 0px;
}

.impact__logo {
  margin-bottom: 27px;
}

.impact__title {
  max-width: 411px;
}

.impact__img {
  position: absolute;
  top: -80px;
  right: 0;
  width: 48.9%;
  height: 51.7%;
  border-radius: 40px;
  overflow: hidden;
}

.impact__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.impact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.impact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.impact__items > div:not(:last-child) {
  margin-right: 20px;
}

.impact__appointment {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -72px;
  background-color: #5d62b5;
  padding: 45px 72px 45px 72px;
  border-radius: 20px;
  width: 100%;
}

.impact__desc {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.25;
  max-width: 562px;
  padding-right: 30px;
  color: #ffffff;
}

.impact__link {
  padding: 12px 35px;
}

.item-impact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 18px);
          flex: 0 1 calc(25% - 18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.item-impact__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 11px;
}

.item-impact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-impact__number {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.15;
  color: #ffffff;
}

.item-impact__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #5d62b5;
}

.footer {
  padding: 160px 0px 0px 0px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 98px;
  padding-right: 17px;
}

.footer__social {
  margin: 0px 124px 0px 0px;
}

.footer__explore {
  margin-top: 17px;
}

.footer__contact {
  margin-left: auto;
  margin-top: 17px;
  padding: 0px 0px 0px 20px;
  max-width: 235px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.social__logo {
  display: block;
  margin-bottom: 23px;
}

.social__text {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  max-width: 235px;
  margin-bottom: 40px;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 10px;
}

.social__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icons a:not(:last-child) {
  margin-right: 23px;
}

.explore__title {
  color: #4b4b4b;
  font-size: 14px;
  letter-spacing: 0.15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.menu-explore__list {
  max-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-explore__list li {
  margin: 0px 135px 13px 0px;
}

.menu-explore__link {
  color: #4b4b4b;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.15px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu-explore__link:hover {
  color: #b3b3b3;
}

.contact-footer {
  color: #4b4b4b;
  font-size: 14px;
  letter-spacing: 0.15px;
}

.contact-footer__title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
}

.contact-footer__body {
  line-height: 1.57;
}

.contact-footer__body img {
  padding: 4px 20px 0px 0px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.contact-footer__body > div:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.contact-footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-footer__e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-footer__boarding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company {
  background-color: #5d62b5;
  padding: 20px 0px;
}

.company__wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.company__text {
  padding-right: 30px;
}

.company__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__years {
  margin-right: 10px;
}

.company__links {
  color: #ffffff;
}

.company__links a {
  font-weight: 700;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.company__links a:hover {
  color: #b3b3b3;
  font-weight: 700;
  position: relative;
}

.company__links a:not(:last-child) {
  padding-right: 10px;
  margin-right: 5px;
}

.company__links a:not(:last-child)::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
}
